@charset "UTF-8";
/* --------------------
common
-------------------- */
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

body {
  font-size: 16px;
  color: #333;
  font-family: "ヒラギノ角ゴ ProN", "メイリオ", serif;
  font-weight: 300;
  line-height: 1em;
  background-image: url("../img/bg.png");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  body {
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-size: contain;
  }
}

/* contact form 7 iPhone用送信ボタンcssリセット
-------------------- */
input[type="submit"],
input[type="button"] {
  border-radius: 10px;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

/* ここまで */
img {
  width: 100%;
}

.container {
  max-width: 810px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.section {
  margin-top: 60px;
}

.section.lower {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .section {
    margin-top: 40px;
  }
}

.util-title {
  font-family: "Open Sans Condensed", sans-serif;
  color: #333;
  font-size: 43px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 39px;
  }
}

.util-link {
  display: inline-block;
  background-color: #c63205;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 13px 20px;
}

.util-link.-medium {
  padding: 23px 30px;
}

@media screen and (max-width: 767px) {
  .util-link.-medium {
    padding: 13px 20px;
  }
}

.util-link:hover {
  background-color: #161616;
}

/* breadcrumb
-------------------- */
.breadcrumb {
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

.breadcrumb a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.breadcrumb a:hover {
  opacity: 0.8;
}

/* --------------------
header
-------------------- */
.header-nav-list {
  overflow: auto;
  white-space: nowrap;
  padding: 25px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-nav-list {
    padding: 22px;
  }
}

.header-nav-item {
  text-align: center;
  display: inline-block;
}

.header-nav-item:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .header-nav-item:not(:first-child) {
    margin-left: 2em;
  }
}

.header-nav-item a {
  color: #421F15;
  font-size: 12px;
  font-weight: 600;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 767px) {
  .header-nav-item a {
    font-size: 16px;
  }
}

.header-nav-item a span {
  font-size: 22px;
  font-weight: 600;
  padding-top: 6px;
  display: block;
}

@media screen and (max-width: 767px) {
  .header-nav-item a span {
    display: none;
  }
}

.header-nav-item a:hover {
  opacity: 0.8;
}

/* --------------------
top
-------------------- */
.top-wrap {
  background-image: url("../img/top.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.top-wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.top-inner {
  max-width: 920px;
  padding: 60px 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-inner {
    padding: 40px 15px;
  }
}

@media screen and (min-width: 768px) {
  .top-text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 86px;
  }
}

@media screen and (max-width: 767px) {
  .top-schedule {
    text-align: center;
    margin-top: 20px;
  }
}

.top-schedule img {
  max-width: 370px;
}

@media screen and (max-width: 767px) {
  .top-schedule img {
    max-width: 230px;
    text-align: center;
  }
}

.top-text {
  max-width: 340px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 1.57143;
}

@media screen and (min-width: 768px) {
  .top-text {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .top-text {
    margin: 20px auto 0;
  }
}

.top-text-inline {
  font-weight: bold;
}

.top-footer {
  max-width: 920px;
  margin-top: -30px;
  text-align: right;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-footer {
    text-align: center;
    margin-top: -20px;
  }
}

/* top-lower（下層ページのTOP）
-------------------- */
.top-lower-wrap {
  background-image: url("../img/top.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.top-lower-wrap::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.top-lower-inner {
  padding: 56px 40px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .top-lower-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .top-lower-inner {
    padding: 40px 15px;
  }
}

@media screen and (min-width: 768px) {
  .top-lower-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 450px;
            flex: 0 1 450px;
  }
}

@media screen and (max-width: 767px) {
  .top-lower-title {
    max-width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .top-lower-schedule {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .top-lower-schedule {
    max-width: 250px;
    margin: 20px auto 0;
  }
}

.top-lower-footer {
  margin-top: -20px;
  text-align: right;
}

.top-lower-footer .util-link {
  padding: 13px 20px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-lower-footer {
    text-align: center;
  }
}

/* --------------------
introduction
-------------------- */
.introduction.section {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .introduction.section {
    margin-top: 20px;
  }
}

.introduction-inner {
  background-color: rgba(255, 255, 255, 0.29);
  padding: 30px;
  position: relative;
}

.introduction-inner .util-title {
  font-size: 35px;
}

@media screen and (max-width: 767px) {
  .introduction-inner .util-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 767px) {
  .introduction-inner {
    padding: 30px 15px;
  }
}

.introduction-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
}

@media screen and (max-width: 767px) {
  .introduction-img {
    width: 120px;
    height: 120px;
  }
}

.introduction-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .introduction-title {
    font-size: 16px;
  }
}

.introduction-text-wrap {
  margin-top: 30px;
  font-size: 12px;
  line-height: 1.75em;
}

@media screen and (min-width: 768px) {
  .introduction-text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .introduction-text-wrap {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .introduction-text-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media screen and (min-width: 768px) {
  .introduction-text-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .introduction-text-right {
    margin-top: 12px;
  }
}

/* --------------------
news
-------------------- */
@media screen and (min-width: 768px) {
  .news-header {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .news-header {
    text-align: center;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .news-header .util-link {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .news-header .util-link {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .news-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.news-item {
  background-color: #fff;
  margin-top: 30px;
  /* TOP下段のitemのスタイル */
}

@media screen and (min-width: 768px) {
  .news-item {
    width: calc(33.33333% - 30px * 2 / 3);
    margin-right: 30px;
  }
  .news-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .news-item {
    width: 100%;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .news-item.news-item-2nd {
    width: calc(50% - 30px  / 2);
    margin-right: 30px;
  }
  .news-item.news-item-2nd:nth-child(2n) {
    margin-right: 0;
  }
}

.news-item-link {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  /* TOP下段のitemのスタイル */
}

.news-item-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .news-item-link.news-item-2nd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news-item-img {
  position: relative;
  overflow: hidden;
  padding-top: 56%;
  /* 比率 */
}

.news-item-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* TOP下段のitemのスタイル */
@media screen and (min-width: 768px) {
  .news-item-img.news-item-2nd {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    padding-top: 30%;
  }
}

@media screen and (min-width: 768px) {
  .news-item-img.news-item-2nd img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.news-item-body {
  padding: 15px;
  /* TOP下段のitemのスタイル */
}

@media screen and (min-width: 768px) {
  .news-item-body.news-item-2nd {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
}

.news-item-date {
  color: #666;
  font-size: 12px;
  line-height: 1.75;
}

.news-item-title {
  color: #333;
  font-weight: 600;
  line-height: 1.3125;
}

/* pagenation（archive）
-------------------- */
.pagenation {
  margin-top: 30px;
  text-align: center;
}

.pagenation a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagenation a:hover {
  opacity: 0.8;
}

.pagenation a.next,
.pagenation a.prev {
  font-size: 12px;
  font-weight: 600;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
  opacity: 0.8;
}

.page-numbers,
.page-numbers.next,
.page-numbers.prev {
  background: transparent;
  border: 3px solid #1A1A1A;
  color: #1A1A1A;
  font-weight: 600;
  display: inline-block;
  font-size: 12px;
  height: 27px;
  line-height: 20px;
  margin-right: 9px;
  min-width: 27px;
  text-align: center;
  text-decoration: none;
}

.page-numbers:last-child {
  margin-right: 0;
}

.page-numbers.current {
  background: #1A1A1A;
  border: 3px solid #1A1A1A;
  color: #fff;
  font-weight: 600;
}

.page-numbers.dots {
  border: none;
  line-height: 20px;
  min-width: initial;
  width: auto;
}

/* 以下singleページのスタイル
-------------------- */
.news-item.is-single {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  margin-top: 30px;
}

.news-item-img.is-single {
  position: relative;
  overflow: hidden;
  padding-top: 71%;
  /* 比率 */
}

.news-item-img.is-single img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-item-body.is-single {
  height: auto;
  padding: 0;
}

.news-item-meta {
  background-color: #1A1A1A;
  padding: 15px 30px;
}

@media screen and (max-width: 767px) {
  .news-item-meta {
    padding: 15px;
  }
}

.news-item-date.is-single {
  font-size: 12px;
  color: #fff;
}

.news-item-title.is-single {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  margin-top: 5px;
}

@media screen and (max-width: 767px) {
  .news-item-title.is-single {
    font-size: 22px;
  }
}

.news-item-content {
  padding: 30px;
  line-height: 1.625;
}

@media screen and (max-width: 767px) {
  .news-item-content {
    padding: 24px;
    font-size: 14px;
  }
}

.news-item-content h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.18182;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .news-item-content h2 {
    font-size: 20px;
  }
}

.news-item-content h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .news-item-content h3 {
    font-size: 16px;
  }
}

.news-item-content p {
  margin-bottom: 1rem;
}

/* pagenation（single）
-------------------- */
.pagenation.is-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.page-meta {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #333;
}

.page-meta.prev {
  position: relative;
  padding-left: 45px;
  margin-right: 30px;
}

.page-meta.prev::before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "<";
  background-color: #1A1A1A;
  color: #F1C201;
  border-radius: 50%;
  display: block;
  width: 33px;
  height: 33px;
  font-size: 18px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

.page-meta.next {
  display: block;
  text-align: right;
  margin-left: auto;
  padding-right: 45px;
  position: relative;
}

.page-meta.next::after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: ">";
  background-color: #1A1A1A;
  color: #F1C201;
  border-radius: 50%;
  display: block;
  width: 33px;
  height: 33px;
  font-size: 18px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

.page-date {
  font-size: 12px;
  font-weight: 300;
}

.page-title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 8px;
}

/* --------------------
story
-------------------- */
.story {
  background-position: 25% 20%;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #000;
  padding: 30px 0;
  position: relative;
}

.story::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.story .container {
  position: relative;
}

.story .util-title {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .story {
    background-position: center;
  }
}

.story-text-wrap {
  margin-top: 34px;
  color: #fff;
  font-size: 12px;
  line-height: 1.75;
}

@media screen and (min-width: 768px) {
  .story-text-wrap {
    margin-top: 30px;
    margin-left: auto;
    width: 320px;
    height: 245px;
    overflow: scroll;
  }
}

@media screen and (max-width: 767px) {
  .story-text-wrap {
    width: 100%;
  }
}

.story-footer {
  margin-top: 10px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .story-footer {
    text-align: center;
  }
}

/* 以下下層のstoryページのスタイル
-------------------- */
.story-single-top {
  background-color: #000;
}

.story-bg-inner {
  background-position: center left;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 767px) {
  .story-bg-inner {
    background-position: center;
  }
}

.story-bg-inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .story-bg-inner::before {
    background: rgba(0, 0, 0, 0.5);
  }
}

.story-bg-inner .breadcrumb {
  color: #fff;
  position: relative;
}

.story-bg-inner .breadcrumb a {
  color: #fff;
}

.story-bg-inner .util-title {
  color: #fff;
  position: relative;
}

.story-bg-inner {
  max-width: 1140px;
  margin: 0 auto;
}

.story-container-second {
  background-color: #000;
}

.story-content-wrap {
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .story-content-wrap {
    padding: 30px 0;
  }
}

.story-content-wrap.-second {
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 767px) {
  .story-content-wrap.-second {
    background-position: center;
  }
}

.story-content-wrap.-second::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .story-content-wrap.-second::before {
    background: rgba(0, 0, 0, 0.5);
  }
}

.story-content-wrap.-third {
  background-position: center left;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 767px) {
  .story-content-wrap.-third {
    background-position: center;
  }
}

.story-content-wrap.-third::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .story-content-wrap.-third::before {
    background: rgba(0, 0, 0, 0.5);
  }
}

.story-content-wrap.-fourth {
  background-position: center right;
  background-size: auto;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (max-width: 767px) {
  .story-content-wrap.-fourth {
    background-position: center;
  }
}

.story-content-wrap.-fourth::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .story-content-wrap.-fourth::before {
    background: rgba(0, 0, 0, 0.5);
  }
}

.story-text {
  color: #fff;
  font-size: 12px;
  line-height: 1.75;
  position: relative;
}

@media screen and (min-width: 768px) {
  .story-text {
    max-width: 390px;
    height: 213px;
    overflow: scroll;
  }
}

.story-text.-top, .story-text.-third {
  margin-left: auto;
}

/* --------------------
comments
-------------------- */
.comments-text {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-top: 33px;
}

@media screen and (max-width: 767px) {
  .comments-text {
    font-size: 16px;
    margin-top: 30px;
  }
}

.comments-header {
  margin-top: 33px;
  background-image: url("../img/comment-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 44px 15px 15px 30px;
  color: #fff;
  position: relative;
}

.comments-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.comments-header.lower-list {
  padding: 44px 15px 44px 30px;
}

.comments-name-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comments-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.comments-name {
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
  margin-left: 10px;
}

.comments-comment {
  width: 420px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.57143;
  position: relative;
}

.comments-footer {
  text-align: right;
  position: relative;
}

/* 以下スマホ版TOPの代表コメントのスタイル
-------------------- */
.comments-item {
  margin-top: 30px;
  background-color: #fff;
}

.comments-item-body {
  padding: 15px;
}

.comments-item-title {
  font-size: 14px;
  font-weight: 600;
}

.comments-item-name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
}

.comments-item-comment {
  font-size: 14px;
  line-height: 1.57143;
  margin-top: 15px;
}

.comments-item-footer {
  text-align: center;
  margin-top: 10px;
}

/* 以下コメント一覧ページのスタイル
-------------------- */
@media screen and (min-width: 768px) {
  .comments-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.comments-card {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .comments-card {
    width: calc(33.33333% - 30px * 2 / 3);
    margin-right: 30px;
  }
  .comments-card:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .comments-card {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
}

.comments-card-meta {
  text-align: center;
}

.comments-card-name {
  font-size: 22px;
  font-weight: 600;
}

.comments-card-title {
  color: #666;
  font-size: 12px;
  margin: 10px;
}

.comments-card-comment {
  line-height: 1.625;
  margin-top: 15px;
}

/* --------------------
cast
-------------------- */
.cast-item-wrap {
  background: linear-gradient(to bottom, transparent 0%, transparent 110px, rgba(255, 255, 255, 0.85) 110px, rgba(255, 255, 255, 0.85) 100%);
  padding-bottom: 30px;
}

.cast-item-list {
  margin-top: 24px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .cast-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .cast-item {
    width: calc(33.33333% - 30px * 2 / 3);
    margin-right: 30px;
  }
  .cast-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .cast-item {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
  .cast-item:not(first-child) {
    margin-top: 30px;
  }
}

.cast-item-img {
  text-align: center;
}

.cast-item-img img {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.cast-item-body {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .cast-item-body {
    margin-top: 20px;
  }
}

.cast-item-meta {
  height: 80px;
  text-align: center;
}

.cast-item-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
}

.cast-item-program {
  font-size: 12px;
  margin-top: 12px;
}

.cast-item-profile {
  font-size: 12px;
  line-height: 1.75;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .cast-item-profile {
    height: 326px;
    overflow: scroll;
  }
}

.cast-footer {
  text-align: center;
}

.cast-footer .util-link {
  color: #c63205;
  background-color: initial;
  border: 5px solid #c63205;
}

.cast-footer .util-link:hover {
  opacity: 0.8;
}

/* 以下キャスト一覧ページ（中段）のスタイル
-------------------- */
@media screen and (min-width: 768px) {
  .cast-media-wrap {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .cast-media-wrap {
    padding: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  .cast-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cast-media {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .cast-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 30px / 2);
    margin-right: 30px;
  }
  .cast-media:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .cast-media {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
  }
}

.cast-media-img img {
  width: 130px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .cast-media-img img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 767px) {
  .cast-media-img {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .cast-media-body {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .cast-media-body {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .cast-media-meta {
    text-align: center;
  }
}

.cast-media-role {
  color: #666;
  font-size: 17px;
}

.cast-media-name {
  font-size: 23px;
  font-weight: 600;
  margin-top: 12px;
}

.cast-media-program {
  color: #1A1A1A;
  font-size: 12px;
  margin-top: 15px;
}

.cast-media-profile {
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.75;
}

@media screen and (min-width: 768px) {
  .cast-media-profile {
    height: 112px;
    overflow: scroll;
  }
}

/* 以下キャスト一覧ページ（下段）のスタイル
-------------------- */
.cast-card-wrap {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 50px 40px;
}

.cast-card-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cast-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cast-card {
  margin-top: 30px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .cast-card {
    width: calc(33.33333% - 30px * 2 / 3);
    margin-right: 30px;
  }
  .cast-card:nth-child(3n) {
    margin-right: 0;
  }
}

.cast-card-role {
  color: #666;
  font-size: 17px;
}

.cast-card-name {
  font-size: 23px;
  font-weight: 600;
  margin-top: 12px;
}

.cast-card-program {
  color: #1A1A1A;
  font-size: 12px;
  margin-top: 15px;
}

/* --------------------
schedule
-------------------- */
.schedule {
  padding-bottom: 60px;
}

.schedule-inner {
  background-color: rgba(255, 255, 255, 0.29);
  padding: 30px 20px 45px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .schedule-inner {
    max-width: 570px;
    margin: 0 auto;
    padding: 30px 15px;
  }
}

.schedule-table {
  margin: 15px auto 0;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .schedule-table {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .schedule-table tr {
    display: block;
  }
  .schedule-table tr:not(first-child) {
    margin-top: 1em;
  }
}

.schedule-table td {
  padding: 1rem .5rem;
  line-height: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .schedule-table td {
    display: block;
    padding: .2em;
  }
}

.schedule-table a {
  color: #333;
  text-decoration: underline;
  -webkit-transition: .3s;
  transition: .3s;
}

.schedule-table a:hover {
  opacity: 0.8;
}

.schedule-footer {
  margin-top: 30px;
  text-align: center;
}

.schedule-footer .util-link:first-child {
  background-color: #603813;
}

.schedule-footer .util-link:first-child:hover {
  background-color: #161616;
}

@media screen and (min-width: 768px) {
  .schedule-footer .util-link:last-child {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .schedule-footer .util-link:last-child {
    margin-top: 15px;
  }
}

/* --------------------
inquiry
-------------------- */
.inquiry-form {
  background-color: rgba(255, 255, 255, 0.29);
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

@media screen and (max-width: 767px) {
  .inquiry-form {
    max-width: 570px;
  }
}

.inquiry-text {
  font-weight: 600;
  line-height: 1.66667;
}

@media screen and (min-width: 768px) {
  .inquiry-text {
    font-size: 18px;
  }
}

.inquiry-list {
  margin-top: 22px;
}

.inquiry-list input[type="text"],
.inquiry-list input[type="tel"],
.inquiry-list input[type="email"],
.inquiry-list textarea {
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: .2em .5em;
  font-family: inherit;
}

@media screen and (min-width: 768px) {
  .inquiry-list input[type="text"],
  .inquiry-list input[type="tel"],
  .inquiry-list input[type="email"],
  .inquiry-list textarea {
    font-size: 18px;
    /* 入力域のフォントサイズ */
  }
}

@media screen and (max-width: 767px) {
  .inquiry-list input[type="text"],
  .inquiry-list input[type="tel"],
  .inquiry-list input[type="email"],
  .inquiry-list textarea {
    font-size: 16px;
    /* 入力域のフォントサイズ */
  }
}

.inquiry-list input[type="text"],
.inquiry-list input[type="tel"],
.inquiry-list input[type="email"] {
  height: 45px;
}

@media screen and (max-width: 767px) {
  .inquiry-list input[type="text"],
  .inquiry-list input[type="tel"],
  .inquiry-list input[type="email"] {
    height: 40px;
  }
}

.inquiry-list textarea {
  min-height: 165px;
  resize: vertical;
}

/* 以下inputのオートコンプリートしたときの背景色の初期化の記述
-------------------- */
@-webkit-keyframes onAutoFillStart {
  from {
  }
  to {
  }
}
@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

input:-webkit-autofill {
  -webkit-animation-name: onAutoFillStart;
          animation-name: onAutoFillStart;
  -webkit-transition: background-color 50000s ease-in-out 0s;
  transition: background-color 50000s ease-in-out 0s;
}

/* ここまで */
@media screen and (min-width: 768px) {
  .inquiry-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.inquiry-item:not(first-child) {
  margin-top: 15px;
}

@media screen and (max-width: 767px) {
  .inquiry-item:not(first-child) {
    margin-top: 5px;
  }
}

.inquiry-item-title {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .inquiry-item-title {
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    text-align: right;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 230px;
            flex: 0 1 230px;
  }
}

@media screen and (max-width: 767px) {
  .inquiry-item-title {
    height: 30px;
    line-height: 30px;
  }
}

@media screen and (min-width: 768px) {
  .inquiry-item-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 520px;
            flex: 0 1 520px;
    margin-left: 16px;
  }
}

.inquiry-footer {
  text-align: center;
  margin-top: 30px;
}

.inquiry-footer .util-link {
  font-size: 18px;
  padding: 21px 82px;
  border-style: none;
  border-radius: 0;
}

@media screen and (max-width: 767px) {
  .inquiry-footer .util-link {
    width: 100%;
    max-width: 375px;
  }
}

.thanks-message {
  font-weight: 600;
  line-height: 1.66667;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.29);
}

@media screen and (min-width: 768px) {
  .thanks-message {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .thanks-message {
    margin-top: 40px;
  }
}

/* 以下contact form 7のスタイル変更
-------------------- */
.wpcf7-not-valid-tip {
  /* 必須項目入力確認 */
  margin-top: 5px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .wpcf7-not-valid-tip {
    font-size: 14px;
  }
}

.wpcf7-response-output {
  /* アラートメッセージ */
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
}

/* --------------------
footer
-------------------- */
.footer {
  height: 80px;
  text-align: center;
  background-color: #1A1A1A;
}

.footer-copyright {
  color: #fff;
  font-size: 12px;
  line-height: 80px;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    font-size: 11px;
  }
}

/* --------------------
404
-------------------- */
.page-404-inner {
  background-color: rgba(255, 255, 255, 0.29);
  font-weight: 600;
  line-height: 1.66667;
  text-align: center;
  margin-bottom: 60px;
  padding: 60px 30px;
}

@media screen and (max-width: 767px) {
  .page-404-inner {
    padding: 30px 15px;
  }
}

.page-404-inner .util-link {
  padding: 23px 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .page-404-inner .util-link {
    padding: 13px 20px;
  }
}

.page-404-title {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .page-404-title {
    font-size: 40px;
  }
}

.page-404-message-1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .page-404-message-1 {
    font-size: 24px;
    margin-top: 24px;
  }
}

.page-404-message-2 {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */